*{
  margin: 0;
  padding: 0;
}

.container {
  background: linear-gradient(to right bottom, #222831, #2b333e);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-wrapper{
  background-color: #393E46;
  min-width: 80%;
  min-height: 550px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 3px 6px 40px #000;
  margin-bottom: 10px;
  display: flex;
}

/* nav */
.nav-wrap{
  width: 20%;
  background-color: #2C3333;
  border-radius: 10px;
  padding: 20px 5px;
  display: flex;
  justify-content: center;
}

.nav{
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

.nav>a{
  --fill-color: #ECB365;
  position: relative;
  display: block;
  padding: 4px 0;
  font: 700 2rem Raleway, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-text-stroke: 2px var(--fill-color);
  background: linear-gradient(var(--fill-color) 0 100%) left / 0 no-repeat;
  color: transparent;
  background-clip: text;
  transition: 0.5s linear;
}
.nav>a:hover{
  background-size: 100%;
}

.nav-toggle{
  position: absolute;
  top: 24px;
  right: 32px;
  font-size: 24px;
  color:#ECB365;
  display: none;
}

/* main */
.todo{
  display: flex;
  padding: 5%;
}
.todo-content{
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.header{
  width: 100%;
  color: #ECB365;
  margin: 5px 0;
  font-size: 1.5rem;
}

h5{
  display: flex;
  justify-content: flex-end;
}

hr{
  border: 1px solid #ECB365;
  margin: 13px 0;
}

/* input */

.task-input{
  outline: none;
  width: 260px;
  padding: 10px;
  margin-top: 5px;
  font-size: 15px;
  color: #ccc;
  background-color: #393E46;
  border: none;
  border-bottom: 2px solid #ccc;
  margin-bottom: 10px;
}


.button-add{
  margin-left: -50px;
  width: 60px;
  font-size: 15px;
  border: 0;
  background-color: #393E46;
  cursor: pointer;
  color: #ccc;
}

.list-item{
  display: flex;
  margin: 10px 0;
  border-radius: 10px;
  padding: 5px;
  max-height: 30px;
}
.button-complete,
.button-delete,
.button-edit{
  border: none;
  outline: none;
  cursor:pointer;
  background-color: transparent;
  font-size: 15px;
  border-radius: 50%;
}
.button-complete{
  color: #ECB365;
  margin-right: 10px;
}

.button-edit{
  color: #ccc;
  margin-right: 10px;
}
.button-delete{
  color: #ff6c6c;
}
.complete{
  text-decoration-style: solid;
  text-decoration-line: line-through;
  text-decoration-color: #ff6c6c;
  opacity: 0.6;
}
.list{
  width: 220px;
  background-color: #393E46;
  border: none;
  color: #ccc;
  font-size: 15px;
  padding-left: 10px;
  margin-right: 15px;
}

input:focus,
button:focus {
  outline: none;
}

.buttons{
  display: flex;
}

/* calender */
.react-calendar { 
  width: 400px;
  max-width: 100%;
  background-color: #ECB365;
  color: #222;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  margin: 30% 10%;
 }
 .react-calendar__navigation button {
  color: #ECB365;
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
 }
 .react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
 background-color: #f8f8fa;
}
.react-calendar__navigation button[disabled] {
 background-color: #f0f0f0;
}
abbr[title] {
 text-decoration: none;
}
/* .react-calendar__month-view__days__day--weekend {
 color: #d10000;
} */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
 background: #f8f8fa;
 color: #6f48eb;
 border-radius: 6px;
}
.react-calendar__tile--now {
 background: #6f48eb33;
 border-radius: 6px;
 font-weight: bold;
 color: #6f48eb;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
 background: #6f48eb33;
 border-radius: 6px;
 font-weight: bold;
 color: #6f48eb;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
 background: #f8f8fa;
}
.react-calendar__tile--active {
 background: #6f48eb;
 border-radius: 6px;
 font-weight: bold;
 color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
 background: #6f48eb;
 color: white;
}
.react-calendar--selectRange .react-calendar__tile--hover {
 background-color: #f8f8fa;
}
.react-calendar__tile--range {
 background: #f8f8fa;
 color: #6f48eb;
 border-radius: 0;
}
.react-calendar__tile--rangeStart {
 border-top-right-radius: 0;
 border-bottom-right-radius: 0;
 border-top-left-radius: 6px;
 border-bottom-left-radius: 6px;
 background: #6f48eb;
 color: white;
}
.react-calendar__tile--rangeEnd {
 border-top-left-radius: 0;
 border-bottom-left-radius: 0;
 border-top-right-radius: 6px;
 border-bottom-right-radius: 6px;
 background: #6f48eb;
 color: white;
}

/* media query */
@media screen and (min-width: 600px) and (max-width: 1000px) {
	.nav>a{
    font-weight:900;
    font-size: 1.2rem;
  }
  .todo{
    display: flex;
    flex-direction: column;
    /* padding: 5%; */
  }
  .todo-content{
    display: flex;
    flex-direction: column;
    /* padding: 5%; */
  }
  .react-calendar { 
    width: 300px;
    /* max-width: 100%; */
    margin: 10% 0;
   }
}

@media screen and (max-width: 600px) {

}

/* home */
